<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'background.css' %}"> 
    <title>NASDAQ Stats</title>
</head>
<body>
    <h1> Welcome, {{ current_user }} </h1> <a href="/logout">Logout</a> |
    <a href="/profile">Profile</a>
    <h2>NASDAQ</h2>
    {% for object in progress_dict %}
    <p>Stock Price: {{ object }} </p>
    <hr>
    <br><br>
    {% endfor %}
</body>
</html> 